@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

*{
  font-family: 'Roboto', 'serif';
}

.bg-img{
background-image: url("./assets/images/Vector.webp");
background-repeat: no-repeat;
background-size: cover;
width: 100%;
}

.bgMobileFrame {
  background-image: url('./assets/images/bgMobileFrame.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 70%;
  margin: 0 auto; /* center it */
}

/* Small screens (phones) */
@media (max-width: 640px) {
  .bgMobileFrame {
    width: 100%;
  }
}

/* Medium screens (tablets) */
@media (min-width: 641px) and (max-width: 1024px) {
  .bgMobileFrame {
    width: 85%;
  }
}

/* Large screens (desktops) */
@media (min-width: 1025px) {
  .bgMobileFrame {
    width: 70%;
  }
}

.bg-footer{
  background-image: url('./assets/images/Rectangle.webp');
  background-repeat: no-repeat;
  background-size: contain;
}



